.form {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-top: 180px;
}

.text {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

.input {
  width: 480px;
}

.link {
  margin-top: 104px;
}
