.classContainer {
  display: flex;
  justify-content: center;
  gap: 9px;
}


.ingredientContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.image {
  position: relative;
}

.counter {
  position: absolute;
  top: 50px;
  left:100px;
}