.container {
  max-width: 600px;
  width: 100%;
  justify-self: flex-end;
}

.title {
  text-align: left;
  padding-bottom: 20px;
}

.containerCard {
  overflow-y: scroll;
  max-height: 73.5vh;
  display: grid;
  gap: 16px;
}

.containerCard::-webkit-scrollbar {
  width: 8px;
}

.containerCard::-webkit-scrollbar-track {
  background: #2f2f37;
}

.containerCard::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.link {
  color: inherit; 
  text-decoration: inherit;
}